.category-page {
    padding: 20px;
    text-align: center;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100px;
    height: auto;
}

.view-details {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background: #f39c12;
    color: white;
    padding: 8px 8px;
    border-radius: 5px;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.view-details:hover {
    background: #d68910;
}

.loading {
    font-size: 20px;
    color: #2c3e50;
}
