
   .footer {
    background: #232f3e;
    color: white;
    text-align: center;
    padding: 1px ;
    margin-top: 40px;
    
}

.footer-top {
    background: #37475a;
    color:#37475a;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    
    margin-bottom: 80px;
 
}
.footer-top p{
  width:100%;
  max-width: 1800px;
}
.footer-top {
  text-align: center;
  margin-bottom: 20px;
}

.back-to-top-btn {
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-top:hover {
    background: #485769;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-column {
    margin: 15px;
    text-align: left;
    display:flex;
    flex-direction: column;
    margin-left: 20px;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    color: #ddd;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ff9900;
}

.footer-bottom {
    background: #131a22;
    padding: 10px 0;
    font-size: 14px;
}
